.divPrincipal {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.divSecundario {
  border: 1px solid rgb(200, 132, 6);
  text-align: center;
  place-items: center;
  margin: 1rem;
  width: 25rem;
  height: auto;
  border-radius: 10px;
}
.divSecundario:hover {
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
}
.titulo {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.img {
  border-bottom: 4px solid yellow;
  margin-bottom: 10px;
}
.descripcion {
  font-style: oblique;
  margin: 1rem;
}

.boton {
  margin: 1rem;
  background-color: cornflowerblue;
  border-radius: 10px;
  width: 10rem;
  height: 2.5rem;
}
