.navBar {
  display: flex;
  align-content: center;
  justify-content: space-between;
  background-color: #d87e29;
}
.logoNav {
  width: 75%;
  height: 5rem;
  margin: 0.2rem 2rem;
}
.menuNavBar {
  display: flex;
  place-items: center;
  justify-content: space-around;
  width: 100%;
  height: 5rem;
}
.ul__menu {
  display: flex;
}

.li__menu {
  margin: 0 5rem;
  list-style: none;
  background-color: #f0d0a9;
  padding: 1rem;
  border-radius: 1rem;
}
.li__menu:hover {
  background-color: #cb4612;
}
.a__menu {
  text-align: center;
  text-decoration: none;
  color: #3f3f3f;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
}
.a__menu:hover {
  color: #f4f4f4;
}
